<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zack.enderplan">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.StatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".view.activity.PlanCreationActivity"
            android:label="@string/title_activity_plan_creation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.activity.PlanDetailActivity"
            android:label="@string/title_activity_plan_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.StatusBar"/>
        <activity
            android:name=".view.activity.TypeCreationActivity"
            android:label="@string/title_activity_type_creation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.activity.TypeDetailActivity"
            android:label="@string/title_activity_type_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.StatusBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".view.activity.TypeEditActivity"
            android:label="@string/title_activity_type_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.StatusBar"/>
        <activity
            android:name=".view.activity.ReminderActivity"
            android:label="@string/title_activity_reminder"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucence"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>
        <activity
            android:name=".view.activity.GuideActivity"
            android:label="@string/title_activity_guide"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.activity.PlanSearchActivity"
            android:label="@string/title_activity_plan_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".view.activity.TypeSearchActivity"
            android:label="@string/title_activity_type_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"/>

        <receiver
            android:name=".receiver.ReminderReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ReminderNotificationActionReceiver"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>