<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zack.enderplan">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".domain.activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".domain.activity.CreatePlanActivity"
            android:label="@string/title_activity_create_plan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".domain.activity.PlanDetailActivity"
            android:label="@string/title_activity_plan_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transition.VerticalSlide.TransparentStatusBar"/>
        <activity
            android:name=".domain.activity.CreateTypeActivity"
            android:label="@string/title_activity_create_type"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".domain.activity.TypeDetailActivity"
            android:label="@string/title_activity_type_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transition.SharedElement.TransparentStatusBar"/>
        <activity
            android:name=".domain.activity.EditTypeActivity"
            android:label="@string/title_activity_edit_type"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transition.SharedElement"/>
        <activity
            android:name=".domain.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".domain.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar"/>
        <activity
            android:name=".domain.activity.ReminderActivity"
            android:label="@string/title_activity_reminder"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="com.zack.enderplan.ACTION_REMINDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".domain.activity.GuideActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <receiver
            android:name=".receiver.ReminderReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
